<h2 mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matSuffix>person_add</mat-icon>
            &nbsp; Add User
        </div>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon [matTooltip]="'Close'"
            [matTooltipPosition]="'above'">close</mat-icon>
        </button>
    </div>
</h2>
<mat-dialog-content class="mat-typography">
    <h3>Add all the info neeed for this new user in the system</h3>
    <div class="a" [formGroup]="addUserForm">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-form-field appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput
                formControlName="IdUser"
                type="number"
                autocomplete="off"
                min="1"
                max="99">
                <mat-icon matSuffix>business</mat-icon>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput
                formControlName="nameUser">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
    
            <mat-form-field appearance="fill">
                <mat-label>Mail</mat-label>
                <input matInput
                formControlName="mailUser">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select formControlName="roleUser">
                    <mat-option value="USER">User</mat-option>
                    <mat-option value="ADMIN">Administrator</mat-option>
                </mat-select>
                <mat-icon matSuffix>settings</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <app-slide-status-user [statusUser]="statusUser" (currentStatusUser)="statusUser=$event"></app-slide-status-user>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial
        [disabled]="addUserForm.invalid"
        (click)="addUser()"
        color="primary"
        mat-raised-button>
        Save
    </button>
</mat-dialog-actions>