.back-to-top{
  	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
}

.disabled-user{
	font-weight: 100;
	color: #98999a;
}

mat-list{
	width: 60%;
}

.hand-icon{
	cursor: pointer;
}

.mr-1{
	margin-right: 10px;
}

.mx-1{
	margin-top: 10px;
	margin-bottom: 14px;
}