<div fxLayout="row" fxLayoutAlign="center center">
    <mat-list class="mb-2">
        <div mat-subheader>Users in Database</div>
        <div class="a" *ngFor="let user of userListData; index as i; last as isLast;">
            <mat-list-item class="mx-1"
                matRipple
                #myListItem>
                <mat-icon 
                    mat-list-icon
                    class="hand-icon"
                    [matTooltip]=" user.role === myUserType.ADMIN && 
                                   user.active && 
                                   user.id != rootUser ? 'This user is an Administrator' : ''"
                    [matTooltipPosition]="'left'">
                    <span *ngIf=" user.role === myUserType.USER && 
                                  user.active && user.id != rootUser">
                        account_circle
                    </span>
                    <span *ngIf=" user.role === myUserType.ADMIN && 
                                  user.active && user.id != rootUser">
                        star_border
                    </span>
                    <span *ngIf="!user.active">
                        person_off
                    </span>
                    <span *ngIf="user.id === rootUser">
                        flag
                    </span>
                </mat-icon>
                <div mat-line>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            {{user.name}}  
                            &nbsp;
                            <span *ngIf="!user.active" 
                                class="disabled-user">
                                [ this user is currently deactivated ]
                            </span>
                        </div>
                    </div>
                </div> 
                <div mat-line class="email-text"> {{user.mail }} </div>
                <p  [matTooltip]="user.id === rootUser ? 'Root user can´t be edited or deleted' : ''"
                    [matTooltipPosition]="'above'">
                    <button mat-stroked-button class="mr-1"
                        (click)="deleteUser(user, i)"
                        [disabled]="user.id === rootUser"
                        color="warn"
                        mat-raised-button>
                        <mat-icon mat-list-icon class="hand-icon">
                            delete
                        </mat-icon>
                    </button>
                    <button mat-stroked-button
                        color="accent"
                        (click)="editUser(user, i)"
                        [disabled]="user.id === rootUser"
                        mat-raised-button>
                        <mat-icon mat-list-icon class="hand-icon">
                            edit
                        </mat-icon>
                    </button>
                </p>
            </mat-list-item>
            <mat-divider *ngIf="!isLast"></mat-divider>
        </div>
    </mat-list>
</div>

<div div fxLayout="row" fxLayoutAlign="end center">
    <button mat-mini-fab class="back-to-top"
        (click)="addUser()"
        color="primary">
        <mat-icon aria-hidden="false">person_add_alt</mat-icon>
    </button>
</div>