<mat-list>
    <div mat-subheader>Users in Database</div>
    <mat-list-item *ngFor="let user of userListData">
        <mat-icon *ngIf="user.role === myUserType.USER" mat-list-icon>person</mat-icon>
        <mat-icon *ngIf="user.role === myUserType.ADMIN" mat-list-icon>star_border</mat-icon>
        <div mat-line>{{user.name}}  
            <span *ngIf="!user.active" 
                class="disabled-user">
                [ this user is currently deactivated ]
            </span>
        </div> 
        <div mat-line> {{user.mail }} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

<div div fxLayout="row" fxLayoutAlign="end center" class="mat-app-background basic-container">
    <button mat-mini-fab class="back-to-top"
        (click)="addNewUser()">
        <mat-icon aria-hidden="false">add</mat-icon>
    </button>
</div>