<h2 mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matSuffix>delete_outline</mat-icon>
            Delete User
        </div>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</h2>
<mat-dialog-content class="mat-typography">

    <p>
        Please confirm that user with following info 
        <strong>will be deleted permanently from Database</strong>
    </p>
    <p>
        Data of user:
    </p>
    <div fxLayout="row" fxLayoutAlign="start center" class="pt-1 ml-1">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon aria-hidden="false">account_circle</mat-icon>
            &nbsp;
            {{ data.userData.name }}
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="pt-1 ml-1">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon aria-hidden="false">email</mat-icon>
            &nbsp;
            {{ data.userData.mail }}
        </div>
    </div>

    <div class="ml-1" [formGroup]="confirmDeleteUserForm">
        <mat-form-field class="example-form-field pt-2 confirm-delete">
            <mat-label>Type DELETE USER to confirm</mat-label>
            <input matInput type="text"
                formControlName="confirm"
                autocomplete="off">
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button 
        [mat-dialog-close]="true" 
        cdkFocusInitial
        mat-raised-button
        color="warn"
        (click)="deleteUser()"
        [disabled]="confirmDeleteUserForm.invalid">
        Delete
    </button>
</mat-dialog-actions>